.task-row {
  border: 3px solid #fff;
  border-collapse: collapse;
  width: 450px;
  padding: 6px;
  margin: 6px;
}

.task-row > div {
  flex: 1;
  min-width: 0;
  margin: 6px 0;
}

.task-categories {
  width: 100%;
  gap: 70px;
}

.tasks {
  width: 450px;
  margin: 0 25px;
}

.dashboard-container {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .task-categories {
    flex-direction: column;
    align-items: center;
  }

  .task-table {
    width: 100%;
    max-width: 600px;
  }

  .task-categories,
  .tasks,
  .task-row {
    width: 100%;
  }
}
